
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;800&display=swap');

body, html {
  user-select: none;
    -webkit-touch-callout:none;
  -webkit-user-select:none;
  -khtml-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
  user-select:none;
  touch-action: manipulation;
  }
  
  * {
    touch-action: manipulation;
}


body {
  font-family: 'Nunito', sans-serif;
  /* background-image: url("media/treya.png"); */
  /* background-repeat: no-repeat; */
  
}



.topnav {
    background-image: linear-gradient(to right, rgb(75, 14, 208), rgb(56, 226, 110));
    overflow: hidden;
    color: white
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    color: #ffffff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: rgb(255, 255, 255);
    font-size: 15px;
    
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #16c982;
    color: rgb(255, 255, 255);
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    background-color: rgb(54, 153, 132);
    color: rgb(255, 255, 255);
    /* font-weight: bold; */
  }
  
  a:visited { 
    text-decoration: none; 
    color: rgb(0, 0, 0); 
   }


   .topnav a:visited {
    color: white
   }

   .collapsible {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 10px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 20px;
    font-family: inherit
  }
  
  /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
  .active, .collapsible:hover {
    background-color: #ccc;
  }
  
  /* Style the collapsible content. Note: hidden by default */
  .content {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: #f1f1f1;
  }

img {
  touch-action: manipulation
}


#instruments {
  font-family: inherit;
}

.headerClass {
  /* position: relative; */
  /* align-items: center; */
  font-size: 35px;
  width: 98%;
   /* margin: 0 auto; */
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
  margin-bottom: 0px;
   display: inline-block;
  background: -webkit-linear-gradient(#3a04ba, #60d44f);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
  user-select: none;
}

.headerClass1 {
  /* position: relative; */
  /* align-items: center; */
  font-size: 36px;
  width: 100%;
   /* margin: 0 auto; */
  margin-left: auto;
  margin-right: auto;
  /* margin-top: 0px; */
  /* margin-bottom: 0px; */
   display: inline-block;
  background: -webkit-linear-gradient(#3a04ba, #60d44f);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
  user-select: none;
}


.social-icons{
	padding:10px;
	background-color:rgb(255, 255, 255);
  text-align: center;
}
.social-icons a{
  
	color:#5369ad;
  /* line-height:30px; */
  font-size:30px;
  margin: 0 5px;
  text-decoration:none;
  
}
.social-icons a i{
	line-height:30px;
  font-size:30px;
  -webkit-transition: all 200ms ease-in;
  -webkit-transform: scale(1); 
  -ms-transition: all 200ms ease-in;
  -ms-transform: scale(1); 
  -moz-transition: all 200ms ease-in;
  -moz-transform: scale(1);
  transition: all 200ms ease-in;
  transform: scale(1);
}
.social-icons a:hover i{
  box-shadow: 0px 0px 150px #5369ad;
  z-index: 2;
  -webkit-transition: all 200ms ease-in;
  -webkit-transform: scale(1.5);
  -ms-transition: all 200ms ease-in;
  -ms-transform: scale(1.5);   
  -moz-transition: all 200ms ease-in;
  -moz-transform: scale(1.5);
  transition: all 200ms ease-in;
  transform: scale(1.5);
}

.scoreP {
  background: -webkit-linear-gradient(#3a04ba, #60d44f);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


.collapsible {
  background-color: rgb(54, 153, 132)
}

.collapsible:hover {
  background-color: blue
}

.collabsible:active {
  background-color:rgb(54, 153, 132)
}

#chamber {
  background-image: linear-gradient(to right , rgb(56, 226, 110), rgb(75, 14, 208));
}

#solo {
  background-image: linear-gradient(to right, rgb(75, 14, 208), rgb(56, 226, 110));
  color: white
}

#fixed {
  background-image: linear-gradient(to right , rgb(56, 226, 110), rgb(75, 14, 208));
}

#large {
  background-image: linear-gradient(to right, rgb(75, 14, 208), rgb(56, 226, 110));
  color: white
}


.container {
  background-image: linear-gradient(to right , rgb(56, 226, 110), rgb(75, 14, 208));

}

.backButton {
  color: rgb(56, 226, 110);
  border: 3px solid white;
  font-family: inherit;
  font-size: 15px;
  background-color: rgb(75, 14, 208);
  font-weight: bold;
  
}

.backButton:hover {
  background-color: rgb(56, 226, 110);
  color: rgb(75, 14, 208);
}



/* 
@media only screens 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) { 

  
 
} */



.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-image: linear-gradient( rgb(56, 226, 110), rgb(75, 14, 208));
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #ffffff;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

#main {
  transition: margin-left .5s;
  padding-left: 16px;
  padding-top: 10px;
  padding-bottom: 0px;
}

a {
  /* text-decoration: none; */
  text-decoration-line: underline;
  color: black
  /* text-decoration-line: line-through; */
}
@media screen and (max-height: 450px) {
  /* .sidenav {padding-top: 15px;} */
  .sidenav a {font-size: 18px;}
  
}

@media screen and (min-width: 800px) {
  .sidenav {
    display: none
    /* height: 2px */
  }
#main {
  display: none
  /* height: 2px */
  }
}






@media screen and (max-width: 800px) {
  .topnav {

    display: none
  }

  .backButton {
    position: relative;
    left: 11px
  }

}

